#webcam_container,
#IUCWebcamContainer {
    user-select: none;
    overflow: hidden;
}

.webcam-extras-floating-window-placeholder {
    height: 330px;
    text-align: center;
    display: none;
}
.webcam-extras-floating-window-placeholder .fa-stack {
    margin-top: 120px;
    color: lightgray;
    cursor: pointer;
}

.webcam-extras {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0;
}
#IUCWebcamContainer .webcam-extras { right: 20px; top: 15px; }

.webcam-extras .btn { margin: 2px; }

#webcam_container:hover .webcam-extras,
#IUCWebcamContainer:hover .webcam-extras { opacity: 1; }

body > #webcam_container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 480px;
    height: 270px;
    z-index: 2;
    cursor: grab;
    resize: both;
    border-radius: 5px;
}
body > #webcam_container:active {
    cursor: move;
}

body > #webcam_container .keycontrol_overlay { display: none !important; }

/* https://github.com/jhuckaby/Effect-Games/tree/master/htdocs/images/cursors */
#webcam_rotator,
#IUCWebcamContainerInner,
#UICWebCamFull img { cursor: url(zoom-in.cur), auto; }
#webcam_rotator.zoomed-in,
#IUCWebcamContainerInner.zoomed-in,
#UICWebCamFull.zoomed-in img { cursor: url(zoom-out.cur), auto; }
#webcam_rotator img,
#IUCWebcamContainerInner img,
#UICWebCamFull img { transition: all 250ms; }
