#webcam_plugins_container,
#dashboard_webcam_container {
    user-select: none;
    overflow: hidden;
}

.webcam-extras-floating-window-placeholder {
    height: 330px;
    text-align: center;
    display: none;
}
.webcam-extras-floating-window-placeholder .fa-stack {
    margin-top: 120px;
    color: lightgray;
    cursor: pointer;
}

.webcam-extras {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0;
}

.webcam-extras .btn { margin: 2px; }

#webcam_plugins_container:hover .webcam-extras { opacity: 1; }

body > #webcam_plugins_container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 480px;
    height: 270px;
    z-index: 2;
    cursor: grab;
    resize: both;
    border-radius: 5px;
}
body > #webcam_plugins_container:active {
    cursor: move;
}

body > #webcam_plugins_container .keycontrol_overlay { display: none !important; }

/* https://github.com/jhuckaby/Effect-Games/tree/master/htdocs/images/cursors */
#webcam_rotator,
.webcam_unrotated,
#dashboard_webcam_toggle { cursor: url(zoom-in.cur), auto; }
#webcam_rotator.zoomed-in,
.webcam_unrotated.zoomed-in,
#dashboard_webcam_toggle.zoomed-in { cursor: url(zoom-out.cur), auto; }
#webcam_rotator img,
.webcam_unrotated img { transition: all 250ms; max-width: 100vw; max-height: 100vh; }

/** THIRD PARTY INTEGRATIONS */
/* UI Customizer, hide the floating window button on the column widget  */
#IUCWebcamContainer .accordion-inner .webcam-extras .webcam-extras-floating-window-button { display: none; }
/* MultiCam, move the camera selector to the left */
#webcam_plugins_container .nav { right: auto; left: 5px; }
